
.title{
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor04);
}
.text{

    margin: auto;
    text-align: center;
    width: 400px;
    color: var(--cor03);
    font-size: large;
    text-shadow: none;
    padding: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-evenly
}
.formulario{
    color: var(--cor04);
 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.description{
    height: 100px;
}
.button{
    margin-top: 10px;
    width: 50px;
}
input{
    width: 400px;
    height: 20px;
}