.about{
    padding-top: 100px;
    background-image: url(../../../../image/Fox.jpeg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}
.title{
    text-align: center;
}
.text{
    margin: auto;
    text-align: center;
    width: 80vw;
}
