/* Styles for .about */
.about {
  padding-top: 100px;
  background-image: url(../../../image/fernanda.png);
  background-size: cover;
  width: 200px;
  height: 284px;
}
/* Styles for .container */
.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 1100px;
}
/* Styles for .text */
.text {
  padding: 10px;
  font-size: 10px;
  text-align: center;
  width: 65vw;
  color: var(--cor01);
  font-size: x-large;
  text-shadow: none;
  font-weight: 400; /* Normal */
  font-family: 'Dutismo', sans-serif;
  margin: auto;
}
.title {
  font-size: 30px;
  padding: 20px;
  text-align: center;
  color: var(--cor01);
  font-family: 'Dutismo', sans-serif;
  margin-top: 20px;
}
.containerMain{
  margin: auto 100px;
  padding: 20px;
  background-color:var(--cor03);
}

/* Media query for .text */
@media (max-width: 1300px) {
  .text {
    width: 90%;
  }
  .containerMain{
    margin: 0;
  }
}
