
main {
  position: relative;
}

p {
  width: 77vw;
  color: var(--cor01);
  text-shadow: 2px 2px 5px black;
  font-size: 3.5vw;
  margin: auto;
  text-align: center;
  padding-top: 66vh;
}

.bg-1,
.bg-2,
.bg-3,
.bg-4 {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  background-size: cover;
  background-position: top center;
}

.bg-1 {
  background-image: url('../../../image/bg_1_g.jpg');
}

.bg-2 {
  background-image: url('../../../image/bg_2_g.jpg');
}

.bg-3 {
  background-image: url('../../../image/bg_3_g.jpg');
}

.bg-4 {
  background-image: url('../../../image/bg_4_g.jpg');
}

@media (max-width: 1000px) {
  .bg-1,
  .bg-2,
  .bg-3,
  .bg-4 {
    background-size: cover;
    background-position: top center;
  }

  .bg-1 {
    background-image: url('../../../image/bg_1_p.jpg');
  }

  .bg-2 {
    background-image: url('../../../image/bg_2_p.jpg');
  }

  .bg-3 {
    background-image: url('../../../image/bg_3_p.jpg');
  }

  .bg-4 {
    background-image: url('../../../image/bg_4_p.jpg');
  }
}
