

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor01);
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--cor05);
    opacity: 0.8;
}
header h1{
    padding-bottom: 5px;
    width: 300px;
    font-family: "Playwrite SK", cursive;
    font-size: x-large;
}
header nav{ 
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: bold;
    
}
header li{
    display: inline-block;
    margin: 0 9px;
}