

header{
    background-color: var(--cor01);
    padding: 30px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--cor05);
}
header h1{
    width: 300px;
    font-family: "Playwrite SK", cursive;
    font-size: x-large;
}
header nav{ 
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: bold;
    
}
footer{   
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid var(--cor05);
}