/* src/components/Pages/photos/photos.module.css */

/* Container principal */
.container {
    padding: 10px;
}

/* Estilo da grade Masonry */
.myMasonryGrid {
    display: flex;
    margin-left: -10px; /* Remover espaço entre colunas */
    width: auto;
}

/* Cada coluna na grade */
.myMasonryGridColumn {
    padding-left: 10px; /* Adicionar espaço entre colunas */
    background-clip: padding-box;
}

/* Cada item na coluna */
.fotos {
    margin-bottom: 10px;
    transition: transform 0.2s;
    text-align: center;
    cursor: pointer; /* Mostrar que é clicável */
}

/* Estilo das imagens */
.fotos img {
    width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efeito ao passar o mouse */
.fotos img:hover {
    transform: scale(1.05);
}

/* Estilo da imagem na modal */
.modalImage {
    width: 100%;
    height: 95vh;
    border-radius: 8px;
    object-fit: contain;
}

/* Estilo do conteúdo da modal */
.modalContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Estilo dos botões de navegação */
.navButton {
    
    border: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 30%;
    z-index: 10;
    transition: background 0.3s;
}

.navButton:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.navButton:focus {
    outline: none;
}

/* Estilo para alinhar os botões com a imagem */
.modalImage {
    flex-grow: 1;
    max-width: 80%;
}
